<%- include('header.ejs')%>
    <section class="main__content p-3 relative blurEffect">
        <div class="content--header">
            <div class="m_c-headerAbove">
                <p>Thứ <span>Hai</span> Ngày <span>20</span> Tháng <Span>5</Span> Năm <span>2024</span></p>
            </div>
            <div class="title-page">
                <h1>TẠO TRẬN ĐẤU</h1>
            </div>
        </div>
        <div class="container-button">
            <button id="createMatch">Tạo bản đấu<i class="fa-solid fa-gear"></i></button>
        </div>
        <div class="w-full rounded" style="margin-top: 30px; background: #FFD771;padding: 12px 22px">
            <div class=" content--body w-full content- container-table h-full">
                <table id="table" class="table hover:table-fixed w-full">
                    <tr>
                        <th class="text-center">Mã đội</th>
                        <th>Hạn đội</th>
                        <th>Giờ - Ngày</th>
                        <th>Trạng thái</th>
                        <th>Khác</th>
                    </tr>
                    <% if (showMatch && showMatch.length > 0) { %>
                        <% for (let item of showMatch) { %>
                          <tr class="td-table">
                            <td>#<%= item.id %></td>
                            <td><%= item.categoriesID == 1 ? "Đơn" : "Đôi" %></td>
                            <td><%= item.dateStart %></td>
                            <td>Sắp diễn ra</td>
                            <td><a href="/detail/<%=item.id%>" id="btnshow" class="linkdetail">Xem</a></td>
                          </tr>
                        <% } %>
                      <% } else { %>
                        <tr class="td-table">
                          <td colspan="5">Không có trận đấu nào.</td>
                        </tr>
                      <% } %>
                </table>
            </div>
        </div>
    </section>
    <%- include('footer.ejs')%>
        <div class="popupBackground" id="popupBackground"></div>
        <div class="popupMatchEdit" id="formChangeMatch">
            <div class="formcontainer">
                
                <form action="/editMatch/<%= matchDetails.id %>" method="post">
                    <div class="flex flex-col gap-5">
                      <div class="flex gap-5 justify-between">
                        <div class="flex flex-col gap-2">
                          <label for="team1Score">Nhập tỉ số đội 1</label>
                          <input type="text" id="team1Score" name="scoreT1" value="<%= matchDetails.scoreT1 %>" class="rounded border" style="padding: 8px;">
                        </div>
                        <div class="flex flex-col gap-2">
                          <label for="team2Score">Nhập tỉ số đội 2</label>
                          <input type="text" id="team2Score" name="scoreT2" value="<%= matchDetails.scoreT2 %>" class="rounded border" style="padding: 8px;">
                        </div>
                      </div>
                      <div class="flex flex-col gap-2" style="width: 200px;">
                        <label for="matchDuration">Nhập số giờ</label>
                        <input type="text" id="matchDuration" name="time" value="<%= matchDetails.time %>" class="rounded border" style="padding: 8px;">
                      </div>
                      <div class="flex flex-col gap-2">
                        <label for="matchNotes">Địa Chỉ</label>
                        <textarea id="matchNotes" name="location" class="border rounded"><%= matchDetails.location %></textarea>
                      </div>
                    </div>
                    <button type="submit" class="btn-create w-full">Sửa Trận đấu</button>
                  </form>
        </div>
        </div>