<%- include('header.ejs')%>
    <%let style="none" %>
        <%if(error !==null){ style="block" } else{ style="none" }%>

            <link rel="stylesheet" href="../css/info.css">
            <section class="main__content p-3">
                <span
                    style="display: <%=style%>; background-color: red; border-radius: 20px; padding: 2px 10px; color: white;">bạn
                    cần cập nhật đủ thông tin chi tiết của bạn bên dưới !!!</span>
                <div class="container__card">
                    <div class="card">
                        <div class="card__left">
                            <div class="card__icon">
                                <i class="fa-solid fa-person"></i>
                            </div>
                            <span class="card__left--title">BMI</span>
                        </div>
                        <div class="card__right">
                            <span class="card__right--parameter">
                                <%= bmi && bmi.bmiResult !=="NaN" ? bmi.bmiResult : 0 %>
                            </span>
                            <span class="card__right--result">
                                <%= bmi.bmiResultText %>
                            </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__left">
                            <div class="card__icon">
                                <i class="fa-solid fa-table"></i>
                            </div>
                            <span class="card__left--title">Join</span>
                        </div>
                        <div class="card__right">
                            <span class="card__right--parameter">
                                <%=yourMatch.length%> (T)
                            </span>
                            <span class="card__right--result">Trận đấu</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__left">
                            <div class="card__icon">
                                <i class="fa-solid fa-fire"></i>
                            </div>
                            <span class="card__left--title">Calories</span>
                        </div>
                        <div class="card__right">
                            <span class="card__right--parameter">
                                <%= infoUser.calo || "0 " %>

                            </span>
                            <span class="card__right--result">Đã tiêu hao</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__left">
                            <div class="card__icon">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                            <span class="card__left--title">Hours</span>
                        </div>
                        <div class="card__right">
                            <span class="card__right--parameter">
                                <%=hours || 0%> (h)
                            </span>
                            <span class="card__right--result">Tổng giờ</span>
                        </div>
                    </div>
                </div>
                <div class="containerYourInfo">
                    <div class="tableInfo">
                        <div class="tableHeader">
                            <span class="tableHeader__title">Thông tin của bạn</span>
                            <div class="tableHeader__Action" id="showHiddenPopup" style="cursor: pointer;">
                                <i class="fa-solid fa-gear"></i>
                                <span>Chỉnh sửa</span>
                            </div>
                        </div>
                        <div class="tableContent">
                            <div class="tableContent__row tableContent__row1">
                                <span>CHIỀU CAO</span>
                                <span>
                                    <%=infoUser.height%>cm
                                </span>
                            </div>
                            <div class="tableContent__row tableContent__row1">
                                <span>CÂN NẶNG</span>
                                <span>
                                    <%=infoUser.weight%>KG
                                </span>
                            </div>
                            <div class="tableContent__row tableContent__row1">
                                <span>BMI</span>
                                <span>
                                    <%= bmi && bmi.bmiResult !=="NaN" ? bmi.bmiResult : 0 %>
                                </span>
                            </div>
                            <div class="tableContent__row tableContent__row1">
                                <span>TRẠNG THÁI</span>
                                <span>
                                    <%= bmi.bmiResultText.toUpperCase() %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tableInfo">
                        <div class="tableHeader">
                            <span class="tableHeader__title">Thông tin tài khoản</span>
                            <div class="tableHeader__Action" id="showHiddenPopup2" style="cursor: pointer;">
                                <i class="fa-solid fa-gear"></i>
                                <span>Chỉnh sửa</span>
                            </div>
                        </div>
                        <div class="tableContent">
                            <div class="tableContent__row tableContent__row1">
                                <span>Điện thoại</span>
                                <span>
                                    <%= infoUser.phoneNumber !=null ? "0" + infoUser.phoneNumber
                                        : 'Chưa có số điện thoại' %>
                                </span>
                            </div>
                            <div class="tableContent__row tableContent__row1">
                                <span>Tên</span>
                                <span>
                                    <%=infoUser.name%>
                                </span>
                            </div>
                            <div class="tableContent__row tableContent__row1">
                                <span>Mật khẩu</span>
                                <span style="cursor: pointer; display: flex; justify-content: center;" id="togglePass">
                                    <i class="fa-solid fa-eye" id="iconShowPass"></i>
                                    <p style="display: none;" id="hiddenPass">
                                        <%= infoUser.password %>    
                                    </p>
                                </span>
                            </div>
                            <div class="tableContent__row tableContent__row1">
                                <span>Email</span>
                                <span>
                                    <%=infoUser.email%>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- popup -->
            <div class="popupUpdateInfoUser popup1" id="showHiddenPopup">
                <div class="popupContent">
                    <div class="popupContent-top">
                        <i class="fa-solid fa-xmark" id="showHiddenPopup"></i>
                    </div>
                    <form action="/updateInfo1" method="post" class="formUpdate" id="formRight">
                        <div class="form__group">
                            <label for="height" class="form__label">Chiều cao</label>
                            <input type="number" id="height" value="<%= infoUser.height %>" name="height"
                                placeholder="Exp: 175(cm)" class="form__input">
                            <span class="form__message"></span>
                        </div>
                        <div class="form__group">
                            <label for="weight" class="form__label">Cân nặng</label>
                            <input type="number" id="weight" value="<%= infoUser.weight %>" name="weight"
                                placeholder="Exp: 60(kg)" class="form__input">
                            <span class="form__message"></span>
                        </div>
                        <div class="form__button">
                            <span class="message__form"></span>
                            <button type="submit" class="button__update">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- popup -->
            <div class="popupUpdateInfoUser popup2" id=" showHiddenPopup2">
                <div class="popupContent">
                    <div class="popupContent-top">
                        <i class="fa-solid fa-xmark" id="showHiddenPopup2"></i>
                    </div>
                    <form action="/updateInfo2" method="post" class="formUpdate" id="formLeft">
                        <div class="form__group">
                            <label for="phoneNumber" class="form__label">Số điện thoại</label>
                            <input type="number" id="phone" name="phoneNumber" placeholder="Exp: 03524314xx"
                                class="form__input" value="<%= infoUser.phoneNumber %>">
                            <span class="form__message"></span>
                        </div>
                        <div class="form__group">
                            <label for="username" class="form__label">Tên của bạn</label>
                            <input type="text" id="name" value="<%= infoUser.name %>" name="username"
                                placeholder="Exp: User" class="form__input">
                            <span class="form__message"></span>
                        </div>
                        <div class="form__group">
                            <label for="password" class="form__label">Mật khẩu</label>
                            <input type="text" id="password" value="<%= infoUser.password %>" name="password"
                                placeholder="Exp: passwordOfUser" class="form__input">
                            <span class="form__message"></span>
                        </div>
                        <div class="form__button">
                            <span class="message__form2 message__form"></span>
                            <button type="submit" class="button__update button__update2">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
            </main>
            <%- include('footer.ejs')%>
                </div>
                <script>
                    document.querySelector('#togglePass').addEventListener('click', () => {
                        const iconShowPass = document.querySelector('#iconShowPass');
                        const hiddenPass = document.querySelector('#hiddenPass');

                        if (hiddenPass.style.display === 'none') {
                            hiddenPass.style.display = 'block';
                            iconShowPass.classList.replace('fa-eye', 'fa-eye-slash'); 
                        } else {
                            hiddenPass.style.display = 'none';
                            iconShowPass.classList.replace('fa-eye-slash', 'fa-eye'); 
                        }
                    });

                </script>
                <!-- check form update  1 -->
                <script>
                    document.querySelector('.button__update').onclick = async (event) => {
                        event.preventDefault();
                        const height = document.getElementById('height');
                        const weight = document.getElementById('weight');
                        height.oninput = (event) => {
                            height.parentElement.querySelector("span").textContent = "";
                            height.style.borderColor = "black";
                        }
                        weight.oninput = (event) => {
                            weight.parentElement.querySelector("span").textContent = "";
                            weight.style.borderColor = "black";
                        }
                        if (height.value < 50 || height.value > 250) {
                            height.parentElement.querySelector("span").textContent = "Chiều cao không hợp lệ. Vui lòng nhập lại.";
                            height.focus();
                            height.style.borderColor = "red";
                            return;
                        }
                        if (weight.value < 20 || weight.value > 500) {
                            weight.parentElement.querySelector("span").textContent = "Cân nặng không hợp lệ. Vui lòng nhập lại.";
                            weight.focus();
                            weight.style.borderColor = "red";
                            return;
                        }
                        else {
                            const form1 = document.querySelector('#formRight');
                            const formData = new FormData(form1);
                            const heightData = formData.get('height');
                            const weightData = formData.get('weight');
                            const response = await fetch('/updateInfo1', {
                                method: 'POST',
                                body: JSON.stringify({ heightData, weightData }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            });
                            const res = await response.json();
                            if (response.status === 404) {
                                document.querySelector(".message__form").innerText = res.message;
                            } else if (response.status === 201) {
                                document.querySelector(".message__form").innerText = res.message;
                                document.querySelector(".message__form").style.color = "green";
                                setTimeout(() => {
                                    window.location.href = "/info";
                                }, 1000);
                            }
                        }
                    };
                </script>
                <!-- check form update end -->
                <!-- update 2 -->
                <script>
                    document.querySelector('.button__update2').onclick = async (event) => {
                        event.preventDefault();
                        const phone = document.getElementById('phone');
                        const name = document.getElementById('name');
                        const password = document.getElementById('password');
                        phone.oninput = (event) => {
                            phone.parentElement.querySelector("span").textContent = "";
                            phone.style.borderColor = "black";
                        }
                        name.oninput = (event) => {
                            name.parentElement.querySelector("span").textContent = "";
                            name.style.borderColor = "black";
                        }
                        password.oninput = (event) => {
                            password.parentElement.querySelector("span").textContent = "";
                            password.style.borderColor = "black";
                        }
                        const regex = /^(0[2|3|5|6|7|8|9])+([0-9]{8})$/;
                        if (phone.value == "" || !regex.test(phone.value)) {
                            phone.parentElement.querySelector("span").textContent = "Số điện thoại không hợp lệ. Vui lòng nhập lại.";
                            phone.focus();
                            phone.style.borderColor = "red";
                            return;
                        }
                        if (name.value == "") {
                            name.parentElement.querySelector("span").textContent = "Tên không hợp lệ. Vui lòng nhập lại.";
                            name.focus();
                            name.style.borderColor = "red";
                            return;
                        }
                        if (password.value == "") {
                            password.parentElement.querySelector("span").textContent = "Mật khẩu ít nhất 1 kí tự. Vui lòng nhập lại.";
                            password.focus();
                            password.style.borderColor = "red";
                            return;
                        }
                        else {
                            const form2 = document.querySelector('#formLeft');
                            const formData = new FormData(form2);
                            const phoneData = formData.get('phoneNumber');
                            const nameData = formData.get('username');
                            const passwordData = formData.get('password');
                            const response = await fetch('/updateInfo2', {
                                method: 'POST',
                                body: JSON.stringify({ phoneData, nameData, passwordData }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            });
                            const res = await response.json();
                            if (response.status === 404) {
                                document.querySelector(".message__form2").innerText = res.message;
                            } else if (response.status === 201) {
                                document.querySelector(".message__form2").innerText = res.message;
                                document.querySelector(".message__form2").style.color = "green";
                                setTimeout(() => {
                                    window.location.href = "/info";
                                }, 1000);
                            }
                        }
                    };
                </script>
                <!-- update 2 end -->

                <!--  -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const linkDetails = document.querySelectorAll('.linkdetail');
                        const matchForm = document.getElementById('matchForm');
                        const popupBackground = document.getElementById('popupBackground');
                        const closebtn = document.getElementById('closebtn');

                        linkDetails.forEach(link => {
                            link.addEventListener('click', (e) => {
                                matchForm.style.display = 'block';
                                popupBackground.style.display = 'block';
                                e.preventDefault();
                            });
                        });

                        popupBackground.addEventListener('click', () => {
                            matchForm.style.display = 'none';
                            popupBackground.style.display = 'none';
                        });

                        closebtn.addEventListener('click', () => {
                            matchForm.style.display = 'none';
                            popupBackground.style.display = 'none';
                        });
                    });


                </script>
                <!-- togge form -->
                <script>
                    const showHiddenPopups = document.querySelectorAll('#showHiddenPopup');
                    showHiddenPopups.forEach(button => {
                        button.onclick = (e) => {
                            e.preventDefault();
                            document.querySelector(".popup1").classList.toggle('popupUpdateInfoUserActive');
                        }
                    });
                    const showHiddenPopups2 = document.querySelectorAll('#showHiddenPopup2');
                    showHiddenPopups2.forEach(button => {
                        button.onclick = (e) => {
                            e.preventDefault();
                            document.querySelector(".popup2").classList.toggle('popupUpdateInfoUserActive');
                        }
                    });
                    document.querySelector(".popupContent").onclick = (e) => {
                        e.preventDefault();
                        e.stopPropagation();
                    }

                </script>

                </html>