<%- include('header.ejs')%>
<% let user = JSON.parse(localStorage.getItem("user")); %>
<% let iduser%>
<% if(user && user[0]){ iduser = user[0]; } %>
    <section class="main__content">
        <div class="content--header">
            <div class="m_c-headerAbove">
                <p>Thứ <span>Hai</span> Ngày <span>20</span> Tháng <Span>5</Span> Năm <span>2024</span></p>
            </div>
            <div class="m_c-headerUnder">
                <div class="headerUnder-filter">Lọc theo</div>
                <ul>
                    <li>Đội chưa đủ người</li>
                    <li>Đội thi đấu đơn</li>
                    <li>Đội thi đấu đôi</li>
                    <li>Đội Hoàn thiện</li>
                    <li>Theo ngày</li>
                </ul>
            </div>
        </div>
        <div class="w-full rounded" style="margin-top: 30px; background: #FFD771;padding: 12px 22px">
            <div class="content--body w-full content- container-table h-full">
                <table id="table" class="table hover:table-fixed w-full ">
                    <tr>
                        <th class="text-center">Mã đội</th>
                        <th>Hạn đội</th>
                        <th>Giờ - Ngày</th>
                        <th>Trạng thái</th>
                        <th>Khác</th>
                    </tr>
                    <% let stv; %>
                    <% for (let i of matches) { %>
                        <%playerNow=JSON.parse(i.player)%>
                        <% if (i.categoriesID==1) { stv=2; doi="Đơn" } else if (i.categoriesID==2) { stv=4;
                            doi="Đôi" } %>
                            
                                <tr>
                                    <td># <%= i.id %>
                                    </td>
                                    <td>
                                        <%= doi %>
                                    </td>
                                    <td>
                                        <%= i.dateStart %>
                                    </td>
                                    <td>
                                        <%=playerNow.user.length%>   | <%= stv %>
                                    </td>
                                    <td><a href="/match/team/<%= i.id %>">Tham gia</a></td>
                                </tr>
                                <% } %>
                </table>
            </div>
        </div>
    </section>
    <div class="blanket_form">
        <% let style1, style2, style3; if (detail.categoriesID==1) { stv=2; doi="Đơn" ; style1="block" ; style2="none" ; } else
            { stv=4; doi="Đôi" ; style1="none" ; style2="block" ; } %>
            <%playerDetailNow=JSON.parse(detail.player)%>
            <%if(playerDetailNow.user.length == stv){style3="none"}%>
            <div class="blanket_form--above"></div>
            <div class="blanket_form--under">
                <div>
                    <div class="form__in4--header">
                        <h1># <span>
                                <%= detail.id %>
                            </span> - <span>
                                <%=doi%>
                            </span> - <span>
                                <%=detail.time%>
                            </span> -
                            <span>
                                <%=detail.dateStart%>
                            </span>
                        </h1>
                        <div><a href="/"><i class="fa-solid fa-x"></i></a></div>
                    </div>
                    <form style="display: <%=style1%>;" action="/match/<%= detail.id %>/<%=iduser%>" method="POST">
                        <div class="">
                            <% let names=[]; phones=[]; %>  
                                <% for (let i of users) { %>
                                    <% let p=userAll.find(j=> j.id == i); %>
                                        <% if (p) { %>
                                            <% names.push(p.name); phones.push(p.phoneNumber); %>
                                                <% } %>
                                                    <% } %>
                                                        <div>
                                                            <div>
                                                                <label for=""></label>
                                                                <input type="text" value="<%=names[0]%>"
                                                                    placeholder="Chưa có người tham gia" readonly>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div>
                                                                <label for=""></label>
                                                                <input type="text" value="<%=names[1]%>"
                                                                    placeholder="Chưa có người tham gia" readonly>
                                                            </div>
                                                        </div>
                        </div>
                        <div style="display: <%=style3%>;" class="btnJoin">
                            <button class="" type="submit">Tham gia</button>
                        </div>
                    </form>
                    <form style="display: <%=style2%>;" action="/match/<%= detail.id %>/<%=iduser%>" method="POST">
                        <div class="">
                            <div>
                                <div>
                                    <label for=""></label>
                                    <input type="text" value="<%=names[0]%>" placeholder="Chưa có người tham gia"
                                        readonly>
                                </div>
                                <div>
                                    <label for=""></label>
                                    <input type="text" value="<%=names[1]%>" placeholder="Chưa có người tham gia"
                                        readonly>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for=""></label>
                                    <input type="text" value="<%=names[2]%>" placeholder="Chưa có người tham gia"
                                        readonly>
                                </div>
                                <div>
                                    <label for=""></label>
                                    <input type="text" value="<%=names[3]%>" placeholder="Chưa có người tham gia"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div style="display: <%=style3%>;" class="btnJoin">
                            <button class="" type="submit">Tham gia</button>
                        </div>
                    </form>
                    <div style="display: <%=style1%>;" class="form__contact">
                        <h1>Liên hệ Tuyển thủ:</h1>
                        <div>
                            <div class="contact__team1">
                                <div>SĐT (TT1):<span>
                                        <%=phones[0] ? phones[0] : "Chưa có" %>
                                    </span></div>
                            </div>
                            <div class="contact__team">
                                <div>SĐT (TT2):<span>
                                        <%=phones[1] ? phones[1] : "Chưa có" %>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                    <div style="display: <%=style2%>;" class="form__contact">
                        <h1>Liên hệ Tuyển thủ:</h1>
                        <div>
                            <div class="contact__team1">
                                <div>SĐT (TT1):<span>
                                        <%=phones[0] ? phones[0] : "Chưa có" %>
                                    </span></div>
                                <div>SĐT (TT2):<span>
                                        <%=phones[1] ? phones[1] : "Chưa có" %>
                                    </span></div>
                            </div>
                            <div class="contact__team">
                                <div>SĐT (TT1):<span>
                                        <%=phones[2] ? phones[2] : "Chưa có" %>
                                    </span></div>
                                <div>SĐT (TT2):<span>
                                        <%=phones[3] ? phones[3] : "Chưa có" %>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form__local">
                        <h1>Vị trí sân đấu:</h1>
                        <div>
                            <p>
                                <%=detail.location%>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include('footer.ejs')%>